body {
	/*position: fixed;*/ /* Fixes shifting viewport on mobile (https://stackoverflow.com/a/68359419) */
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Would cause blue outline on mobile (https://stackoverflow.com/a/66209706) */
@media (pointer: fine) {
	.pointer {
		cursor: pointer;
	}
}